<div class="content">
  <h1>Welcome to the 'Change Password' window</h1>
  <form  name="changePasswordForm" ng-submit="changePassword()" novalidate>
    <input type="password" name="changePasswordOne" ng-model="cpfirst" placeholder="Enter password" ng-required="true"/>
    <div ng-show="changePasswordForm.changePasswordOne.$touched && changePasswordForm.changePasswordOne.$invalid">
      <small style="color: red; display: block; text-align: center;">Enter a valid username</small>
    </div>
    <input type="password" name="ChangePasswordTwo" ng-model="cpsecond" placeholder="Confirm password" ng-required="true"/>
    <div ng-show="changePasswordForm.ChangePasswordTwo.$touched && changePasswordForm.ChangePasswordTwo.$invalid">
      <small style="color: red; display: block; text-align: center;">Enter a valid password</small>
    </div>
    <h6 style="color: red; display: block; text-align: center;" ng-show="showChangeMessage==true">{{changeMessage}}</h6>
    <input type="submit" value="Change Password" ng-disabled="changePasswordForm.$invalid">
  </form>
</div>
