<div class="content">
  <h1>Login Page</h1>
  <form  name="loginForm" ng-submit="loginUser()" novalidate>
    <input type="text" name="loginUsername" ng-model="probableuser.username" placeholder="Enter username" ng-required="true"/>
    <div ng-show="loginForm.loginUsername.$touched && loginForm.loginUsername.$invalid">
      <small style="color: red; display: block; text-align: center;">Enter a valid username</small>
    </div>
    <input type="password" name="loginPassword" ng-model="probableuser.password" placeholder="Enter password" ng-required="true"/>
    <div ng-show="loginForm.loginPassword.$touched && loginForm.loginPassword.$invalid">
      <small style="color: red; display: block; text-align: center;">Enter a valid password</small>
    </div>
    <input type="submit" value="Login" ng-disabled="loginForm.$invalid">
  </form>
  <h3 style="color: red; display: block; text-align: center;">{{sadLogin}}</h3>
</div>
