<div class="content">
  <h1>Congratulations on successfully auctioning a merch with the type of 'Photograph'.</h1>
  <h2>If you would like to auction another merch, considering you have met the conditions, please click the button bellow:</h2>
  <button ng-click="auctionAnotherMerch()">Auction another merch</button>
  <h2>On the other hand, if you would wish to see your auctioned merch, please click the following button:</h2>
  <button ng-click="viewPersonalAuction()">View personal auction</button>
</div>
