<div class="content">
  <h1>Register Page</h1>
  <form name="registerForm" ng-submit="registerUser()" novalidate>
    <input type="text" name=registerUsername ng-model="userbeingregistered.username" placeholder="Enter username" ng-required="true"/>
    <div ng-show="registerForm.registerUsername.$touched && registerForm.registerUsername.$invalid">
      <small style="color: red; display: block; text-align: center;">Enter a valid username</small>
    </div>
    <div ng-show='usernameExists'>
      <small style="color: red; display: block; text-align: center;">{{errorMessage}}</small>
    </div>
    <input type="email" name=registerEmail ng-model="userbeingregistered.email" placeholder="Enter email" ng-required="true"/>
    <div ng-show="registerForm.registerEmail.$touched && registerForm.registerEmail.$invalid">
      <small style="color: red; display: block; text-align: center;">Enter a valid email</small>
    </div>
    <input type="password" name=registerPassword ng-model="userbeingregistered.password" placeholder="Enter password" ng-required="true"/>
    <div ng-show="registerForm.registerPassword.$touched && registerForm.registerPassword.$invalid">
      <small style="color: red; display: block; text-align: center;">Enter a password</small>
    </div>
    <input type="text" name=registerCountry ng-model="userbeingregistered.country" placeholder="Enter country" ng-required="true"/>
    <div ng-show="registerForm.registerCountry.$touched && registerForm.registerCountry.$invalid">
      <small style="color: red; display: block; text-align: center;">Enter a country</small>
    </div>
    <input type="submit" value="Register" ng-disabled="registerForm.$invalid">
  </form>
  <h3 style="color: red; display: block; text-align: center;">{{sadRegister}}</h3>
</div>
