<div class="content">
  <h1>Your personal auction page</h1>
  <h4>{{imageMessage}}</h4>
  <ol id="picture-list">
    <li ng-repeat="file in Singleton.YouUser.photos">
      <img ng-src="{{file.byteArray}}" style="margin: -12px 0 0; float: left; height: 50px; width:50px;"/>
      <h3>{{file.name}}</h3>
      <h3>{{file.resolution}}</h3>
        <select size="2" class="selectGradeDrop" ng-model="file.approved" id="gradesEvolve" ng-disabled="Singleton.YouUser.uType!=2 || Singleton.YouUser.uType!=3">
          <option ng-repeat="option in Singleton.Preparations.approveStatuses" ng-value="option.value">{{option.name}}</option>
        </select>
      <div class="remove" ng-click="removeImage(file)">x</div>
    </li>
  </ol>
</div>
